# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/api/node_modules
/client/node_modules

# testing
/api/coverage
/client/coverage

# production
/api/build
/client/build

# misc
.DS_Store
/api/.env.local
/api/.env.development.local
/api/.env.test.local
/api/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
